# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
/.fleet
/.nova
/.phpunit.cache
/.zed
/auth.json
/.phpunit.result.cache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/node_modules
/.env
/.env.*
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs
/storage/framework
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
